@import 'base/normalize.scss'
@import 'base/reset.scss'
@import 'base/gallery-plugin.sass'

body, html
  height: 100%
  width: 100%

p, h1, h2, h3, li, ul
  margin: 0
  padding: 0

.img-container
  display: inline-block
  position: relative
  margin: 0
  padding: 0
  font-size: 0
  margin-bottom: -4px
.img-text
  padding: 2px 8px
  text-transform: uppercase
  font-weight: bold
  z-index: 1000
  background-color: rgba(21, 21, 21, 0.3)
  position: absolute
  top: 16px
  left: 16px
  color: #f5f5f5
  font-size: 1.5rem
.img-logo
  position: absolute
  width: 60px
  height: 60px
  right: 12px
  bottom: 5%
  background:
    size: contain
    repeat: no-repeat
  z-index: 1000

.img-logo--carters
  background:
    image: url(../img/logo/carters.svg)
.img-logo--gap
  background:
    image: url(../img/logo/gap.svg)
.img-logo--guess
  background:
    image: url(../img/logo/guess.png)
.img-logo--harleydavidson
  background:
    image: url(../img/logo/harleydavidson.png)
.img-logo--kipling
  background:
    image: url(../img/logo/kipling.svg)
.img-logo--michaelkors
  background:
    image: url(../img/logo/michaelkors.svg)
.img-logo--nike
  background:
    image: url(../img/logo/nike.svg)
.img-logo--oakley
  background:
    image: url(../img/logo/oakley.svg)
.img-logo--oshkosh
  background:
    image: url(../img/logo/oshkosh.svg)
.img-logo--quicksilver
  background:
    image: url(../img/logo/quicksilver.svg)
.img-logo--swarovski
  background:
    image: url(../img/logo/swarovski.svg)
.img-logo--timberland
  background:
    image: url(../img/logo/timberland.svg)
.img-logo--tommyhilfiger
  background:
    image: url(../img/logo/tommyhilfiger.svg)
.img-logo--vans
  background:
    image: url(../img/logo/vans.svg)
.img-logo--victoriassecret
  background:
    image: url(../img/logo/victoriassecret.svg)
  width: 180px
  height: 180px
  bottom: -45%
